.all-button-container {
    width: 420px;
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
}
.clear {
    border: 1px solid gray;
    width: 304px;
    height: 100px;
}

.display {
    width: 408px;
    height: 100px;
    background: black;
    color: white;
}
.display p {
    text-align: end;
    margin: 20px;
    font-size: 50px;
}